.WalletNotConnected {
    padding: 4rem;
    background-color: #30363a;
    font-family: Montserrat Light;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}
